<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>${hudson.version}</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  ${hudson.security}
  ${hudson.security.realm}
  <systemMessage></systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
   ${hudson.jdks}
  </jdks>
  <viewsTabBar class="hudson.views.tabbar.DropDownViewsTabBar" plugin="dropdown-viewstabbar-plugin"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
   <views>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>develenv samples</name>
      <description>
&lt;h3&gt;Todos los ejemplos que vienen con la instalación básica de develenv, más los ejemplos que vienen con la instalación de plugins de develenv (http://develenv.softwaresano.com/plugins.html)&lt;/h3&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.RegExJobFilter plugin="view-job-filters@1.22">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <valueTypeString>NAME</valueTypeString>
          <regex>01-execute-develenv-examples|CppSample|CSample|develenv|flexSample|GroovySample|j2meSample|JMeterExample|JSSample|SeleniumGridExample|standaloner-archetype|test-calculator|test-develenv|web-calculator|DjangoExample|PythonExample</regex>
        </hudson.views.RegExJobFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn/>
        <hudson.plugins.CronViewColumn/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_1</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
        <hudson.plugins.dry.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_2</id>
          <name>Duplicate code per project</name>
        </hudson.plugins.dry.dashboard.WarningsTablePortlet>
        <hudson.plugins.pmd.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_3</id>
          <name>PMD warnings per project</name>
        </hudson.plugins.pmd.dashboard.WarningsTablePortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_4</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_5</id>
          <name>Test Statistics Grid</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_6</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
        <hudson.plugins.release.dashboard.RecentReleasesPortlet>
          <id>dashboard_portlet_7</id>
          <name>Recent Releases</name>
        </hudson.plugins.release.dashboard.RecentReleasesPortlet>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_8</id>
          <name>Warnings per project</name>
          <useImages>false</useImages>
          <isCheckStyleDeactivated>false</isCheckStyleDeactivated>
          <isDryDeactivated>false</isDryDeactivated>
          <isFindBugsDeactivated>false</isFindBugsDeactivated>
          <isPmdDeactivated>false</isPmdDeactivated>
          <isOpenTasksDeactivated>false</isOpenTasksDeactivated>
          <isWarningsDeactivated>false</isWarningsDeactivated>
        </hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>QA</name>
      <description>
&lt;h3&gt;Son todas aquellas tareas que deban pasar una revisión de QA(Quality Assurance). Son las tareas que generan los componentes que vayan a ser instalados en producción&lt;/h3&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn/>
        <hudson.plugins.CronViewColumn/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*-ALL-[0-9]+-acceptanceTest$</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_50</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
        <hudson.plugins.dry.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_51</id>
          <name>Duplicate code per project</name>
        </hudson.plugins.dry.dashboard.WarningsTablePortlet>
        <hudson.plugins.pmd.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_52</id>
          <name>PMD warnings per project</name>
        </hudson.plugins.pmd.dashboard.WarningsTablePortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_53</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_54</id>
          <name>Test Statistics Grid</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_55</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
        <hudson.plugins.release.dashboard.RecentReleasesPortlet>
          <id>dashboard_portlet_56</id>
          <name>Recent Releases</name>
        </hudson.plugins.release.dashboard.RecentReleasesPortlet>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_57</id>
          <name>Warnings per project</name>
          <useImages>false</useImages>
        </hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>RE</name>
      <description>
&lt;h3&gt;Son todas aquellas tareas que deban pasar una revisión de RE(Release Engineer).</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn/>
        <hudson.plugins.CronViewColumn/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*-package$|.*-ALL-[0-9]+-install$|.*-ALL-[0-9]+-smokeTest$|.*-EXPORT$</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_50</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
        <hudson.plugins.dry.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_51</id>
          <name>Duplicate code per project</name>
        </hudson.plugins.dry.dashboard.WarningsTablePortlet>
        <hudson.plugins.pmd.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_52</id>
          <name>PMD warnings per project</name>
        </hudson.plugins.pmd.dashboard.WarningsTablePortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_53</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_54</id>
          <name>Test Statistics Grid</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_55</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
        <hudson.plugins.release.dashboard.RecentReleasesPortlet>
          <id>dashboard_portlet_56</id>
          <name>Recent Releases</name>
        </hudson.plugins.release.dashboard.RecentReleasesPortlet>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
          <id>dashboard_portlet_57</id>
          <name>Warnings per project</name>
          <useImages>false</useImages>
        </hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
       <description>
&lt;h3&gt;Todos los jobs almacenados en Jenkins&lt;/h3&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
       <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn/>
        <hudson.plugins.CronViewColumn/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(.*).*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>eXperimental</name>
      <description>
&lt;h3&gt;Son aquellas tareas que no generan un artefacto que deba ser instalado en producción y que por lo tanto no tengan que pasar una revisión en cuanto a la calidad. Por ejemplo, son tareas que sirven para experimentar la integración contínua con alguna tecnología nueva&lt;/h3&gt;&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.view.dashboard.Dashboard[2]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn/>
        <hudson.plugins.CronViewColumn/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>Admin pipelines</name>
      <description>Admin deployment pipelines</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>pipeline-ADMIN-.*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
        <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.3">
      <owner class="hudson" reference="../../.."/>
      <name>Failed</name>
      <description>
&lt;h3&gt;Todos los jobs que est&amp;aacute;n fallando actualmente&lt;/h3&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>falla</string>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@1.22">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>false</unstable>
          <failed>true</failed>
          <aborted>false</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@1.13"/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.9">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.6"/>
        <hudson.plugins.CronViewColumn plugin="cron_column@1.003"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.9">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.6">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn plugin="console-column-plugin@1.5"/>
        <hudson.plugins.projectstats.column.NumBuildsColumn plugin="project-stats-plugin@0.4"/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  ${hudson.globalNodeProperties}
</hudson>

