.project
.settings/
externals/
ci.sh
localci.sh
get_externals.sh
target/
sonar-runner/src/main/rpm/SOURCES/
jenkins/src/main/rpm/SOURCES/
src/main/development/vagrant/instance/modules/home/files/
jenkins/src/main/config/jobs/pipeline-ADMIN-01-addPipeline/
jenkins/src/main/config/plugins/
nexus/src/main/rpm/SOURCES/
sonar/src/main/rpm/SOURCES/
selenium/src/main/rpm/SOURCES/
jmeter/src/main/rpm/SOURCES/
soapui/src/main/rpm/SOURCES/
src/main/rpm/SOURCES/
devpi/src/main/rpm/SOURCES/
deploymentPipeline/src/main/deploymentPipeline/
maven
