<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.3">
  <actions/>
  <description>&lt;a href=&quot;http://www.softwaresano.com/&quot; title=&quot;SoftwareSano&quot; class=&quot;poweredBy&quot;&gt;&#xd;
   &lt;img id=&quot;jobJenkins&quot; class=&quot;poweredBy&quot;  alt=&quot;softwaresano&quot; src=&quot;http://pimpam.googlecode.com/files/jobJenkins.png&quot;/&gt;&#xd;
   &lt;script type=&quot;text/javascript&quot; src=&quot;http://www.softwaresano.com/widgets/jobBuiltyBy.php&quot;&gt;&lt;/script&gt;&#xd;
   &lt;script type=&quot;text/javascript&quot; src=&quot;/widgets/jobBuiltyBy.php&quot;&gt;&lt;/script&gt;&#xd;
&lt;/a&gt;&#xd;
&lt;br/&gt;&#xd;
Demuestra el uso de Selenium Grid. Ejecuta el proyecto &lt;a href=&quot;/jenkins/job/web-calculator&quot;&gt;web-calculator&lt;/a&gt; en diferentes navegadores.&lt;br /&gt;&#xd;
Para añadir un nuevo navegador al grid seguir esta &lt;a href=&quot;/docs/selenium/newBrowser.html&quot; &gt;guía&lt;a/&gt; &lt;/br&gt;&#xd;
Si el resultado de la ejecución es correcto, se lanza el job &lt;a href=&quot;/jenkins/job/web-calculator&quot;&gt;web-calculator&lt;/a&gt; que extrae las &#xd;
&lt;a href=&quot;/sonar/project/index/com.softwaresano.examples.calculator:web-calculator&quot;&gt;métricas&lt;/a&gt; y &#xd;
genera el &lt;a href=&quot;/sites/com.softwaresano.examples.calculator/web-calculator/&quot;&gt;site&lt;/a&gt;. &lt;/br&gt;&#xd;
Sigue esta &lt;a href=&quot;/docs/selenium/newBrowser.html&quot; &gt;guía&lt;a/&gt; &#xd;
para añadir un browser al grid.&#xd;
&lt;br/&gt;&#xd;
&lt;script type=&quot;text/javascript&quot; src=&quot;/docs/selenium/gridConsole.php&quot;&gt;&lt;/script&gt;&#xd;
Para ver los navegadores en el &lt;a href=&quot;/docs/selenium/gridConsole.php&quot;&gt;grid&lt;/a&gt; pulsa &lt;a href=&quot;/docs/selenium/gridConsole.php&quot;&gt;aquí&lt;/a&gt;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty plugin="googlecode@1.7"/>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.24"/>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.4.3">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://pimpam.googlecode.com/svn/trunk/web-calculator</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>browser</name>
      <values>
        <string>firefox</string>
        <string>chrome</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# Executing with deployment pipeline(http://develenv.softwaresano.com/deploymentPipeline/index.html)
# If you want deactivate deployment pipeline, you must replace dp_build.sh by ./build.sh
dp_build.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder plugin="chucknorris@0.5">
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <parsingRulesPath>/home/develenv/app/jenkins/consoleParser.conf</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>web-calculator</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/site/concordion/com/softwaresano/examples/calculator/test/acceptance/WebCalculator.html</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <xunit plugin="xunit@1.91">
      <types>
        <JUnitType>
          <pattern>**/target/surefire-reports/*.xml</pattern>
          <skipNoTestFiles>false</skipNoTestFiles>
          <failIfNotNew>true</failIfNotNew>
          <deleteOutputFiles>true</deleteOutputFiles>
          <stopProcessingIfError>true</stopProcessingIfError>
        </JUnitType>
      </types>
      <thresholds>
        <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
          <unstableThreshold></unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold></failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
        <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
          <unstableThreshold></unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold></failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
      </thresholds>
      <thresholdMode>0</thresholdMode>
      <extraConfiguration>
        <testTimeMargin>3000</testTimeMargin>
      </extraConfiguration>
    </xunit>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.3"/>
    <hudson.plugins.emotional__hudson.EmotionalHudsonPublisher plugin="emotional-hudson@1.3"/>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.0">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>true</runSequentially>
  </executionStrategy>
</matrix-project>