<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>&lt;a href=&quot;http://www.softwaresano.com/&quot; title=&quot;SoftwareSano&quot; class=&quot;poweredBy&quot;&gt;&#xd;
   &lt;img id=&quot;jobJenkins&quot; class=&quot;poweredBy&quot;  alt=&quot;softwaresano&quot; src=&quot;http://pimpam.googlecode.com/files/jobJenkins.png&quot;/&gt;&#xd;
   &lt;script type=&quot;text/javascript&quot; src=&quot;http://www.softwaresano.com/widgets/jobBuiltyBy.php&quot;&gt;&lt;/script&gt;&#xd;
   &lt;script type=&quot;text/javascript&quot; src=&quot;/widgets/jobBuiltyBy.php&quot;&gt;&lt;/script&gt;&#xd;
&lt;/a&gt;&#xd;
&lt;br/&gt;&#xd;
Arquetipo básico para construir una aplicación standalone que se integre con Jenkins y Sonar</description>
  <logRotator>
    <daysToKeep>1000</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>1</artifactDaysToKeep>
    <artifactNumToKeep>1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty/>
    <hudson.plugins.sidebar__link.ProjectLinks>
      <links>
        <hudson.plugins.sidebar__link.LinkAction>
          <url>../../../sites/com.softwaresano.archetypes/standalone-archetype/</url>
          <text>Site</text>
          <icon>help.gif</icon>
        </hudson.plugins.sidebar__link.LinkAction>
        <hudson.plugins.sidebar__link.LinkAction>
          <url>../../../sonar/dashboard/index/com.softwaresano.archetypes:standalone-archetype</url>
          <text>Sonar</text>
          <icon>help.gif</icon>
        </hudson.plugins.sidebar__link.LinkAction>
      </links>
    </hudson.plugins.sidebar__link.ProjectLinks>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://pimpam.googlecode.com/svn/trunk/standalone-archetype</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.softwaresano.archetypes</groupId>
    <artifactId>standalone-archetype</artifactId>
  </rootModule>
  <goals>clean deploy</goals>
  <mavenName>DEFAULT_MAVEN</mavenName>
  <mavenOpts>-Xmx512m</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <perModuleEmail>true</perModuleEmail>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>0</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <settingConfigId></settingConfigId>
  <globalSettingConfigId></globalSettingConfigId>
  <reporters/>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>false</dontComputeNew>
      <parserConfigurations/>
      <consoleLogParsers>
        <string>Java Compiler</string>
        <string>JavaDoc</string>
      </consoleLogParsers>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
   <hudson.plugins.logparser.LogParserPublisher>
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <parsingRulesPath>/home/develenv/app/jenkins/consoleParser.conf</parsingRulesPath>
   </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>test-develenv</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/target/standalone-archetype*.jar</artifacts>
      <latestOnly>true</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.sloccount.SloccountPublisher>
      <pattern>target/site/sloccount.sc</pattern>
      <encoding></encoding>
    </hudson.plugins.sloccount.SloccountPublisher>
    <hudson.plugins.sonar.SonarPublisher>
      <branch></branch>
      <language></language>
      <mavenOpts></mavenOpts>
      <jobAdditionalProperties></jobAdditionalProperties>
      <triggers>
        <skipScmCause>false</skipScmCause>
        <skipUpstreamCause>false</skipUpstreamCause>
        <envVar></envVar>
      </triggers>
    </hudson.plugins.sonar.SonarPublisher>
    
    <hudson.plugins.emotional__hudson.EmotionalHudsonPublisher/>
    <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
      <soundEvents>
        <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier_-SoundEvent>
          <soundId>EXPLODE</soundId>
          <toResult>
            <name>FAILURE</name>
            <ordinal>2</ordinal>
            <color>RED</color>
          </toResult>
          <fromResults>
            <hudson.model.Result>
              <name>NOT_BUILT</name>
              <ordinal>3</ordinal>
              <color>NOTBUILT</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>ABORTED</name>
              <ordinal>4</ordinal>
              <color>ABORTED</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
            </hudson.model.Result>
          </fromResults>
        </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier_-SoundEvent>
      </soundEvents>
    </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
  </publishers>
  <buildWrappers>
    <org.jvnet.hudson.plugins.m2release.M2ReleaseBuildWrapper>
      <scmUserEnvVar></scmUserEnvVar>
      <scmPasswordEnvVar></scmPasswordEnvVar>
      <releaseEnvVar>IS_M2RELEASEBUILD</releaseEnvVar>
      <releaseGoals>-Dresume=false release:prepare release:perform</releaseGoals>
      <dryRunGoals>-Dresume=false -DdryRun=true release:prepare</dryRunGoals>
      <selectCustomScmCommentPrefix>false</selectCustomScmCommentPrefix>
      <selectAppendHudsonUsername>false</selectAppendHudsonUsername>
      <selectScmCredentials>false</selectScmCredentials>
    </org.jvnet.hudson.plugins.m2release.M2ReleaseBuildWrapper>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper>
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Maven>
      <targets>site:site site:deploy</targets>
      <mavenName>DEFAULT_MAVEN</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>mkdir -p $WORKSPACE/target/site
sloccount --duplicates --wide --details .|grep -v &quot;/target/&quot; &gt; $WORKSPACE/target/site/sloccount.sc</command>
    </hudson.tasks.Shell>
  </postbuilders>
  <runPostStepsIfResult>
    <name>UNSTABLE</name>
    <ordinal>1</ordinal>
    <color>YELLOW</color>
  </runPostStepsIfResult>
</maven2-moduleset>
